{{#each blogs}}
{{> blog-post}}
{{/each}}
<form id="postblog"> 
  <div class="mb-3">
  <label for="title" class="form-label">Title</label>
  <input type="text" class="form-control" id="title" >
</div>
<div class="mb-3">
  <label for="content" class="form-label">Content Area</label>
  <textarea class="form-control" id="content" rows="3"></textarea>
</div>
<button type="submit" class="btn btn-primary">Post</button>
</form>

<script src="./js/postblog.js" ></script>